--extra-index-url https://download.pytorch.org/whl/cpu
requests
kafka-python
psycopg2-binary
transformers
torch
chromadb
langchain
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-classic
sentence-transformers
fastapi
uvicorn
scikit-learn
pandas
streamlit
plotly
python-dotenv