--extra-index-url https://download.pytorch.org/whl/cpu
requests
kafka-python
psycopg2-binary
transformers
torch
chromadb
langchain
langchain-classic
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers
fastapi
uvicorn
scikit-learn
pandas
python-dotenv